{% extends 'main/base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/global_forms.css' %}">

    <style>
        form label {
            font-size: 0.9rem!important;
        }
    </style>
{% endblock %}

{% block content %}
<section class="w-full bg-minsk-50 flex-1">
    
    <!-- Container -->
    <div class="w-full max-w-[1280px] mx-auto px-5 py-10 md:py-20 font-poppins flex flex-col gap-5">
        <!-- Title -->
        <div class="w-fit mx-auto text-center mb-5 sm:mb-10 relative group">
            <p class="text-minsk-800 text-base md:text-lg uppercase font-light">
                Destion du compte
            </p>
            <h1 class='text-3xl sm:text-4xl md:text-5xl font-semibold text-minsk-500'>
                Changer de mot de passe
            </h1>

            <!-- LIGNE DECORATIVE -->
            <div class="absolute top-full left-1/2 -translate-x-1/2 translate-y-1 w-32 sm:w-48 h-[2px] bg-minsk-500 group-hover:w-full transition-all duration-500 ease-in-out"></div>
        </div>

        <!-- Information card -->
        <div class="w-full max-w-[720px] mx-auto px-5">
            <div class="w-full bg-green-200 px-5 md:px-10 py-3 sm:py-5 border-l-4 border-green-400 rounded-lg flex items-center gap-5">
                <i class="fa-solid fa-circle-info text-green-600 text-xl sm:text-2xl"></i>
                <p class="text-green-600 font-semibold text-xs sm:text-sm">
                    Veuillez renseigner un mot de passe sécurisé. Au moins 8 caractères, une lettre majuscule, une lettre minuscule, un chiffre et un caractère spécial.
                </p>
            </div>
        </div>

        <form method="POST" action="{% url 'accounts:change_password' %}" class="w-full max-w-[500px] mx-auto px-5 flex flex-col gap-5">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- Messages d'erreur -->
            {% if messages %}
                <ul class="errorlist">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <button type='submit' class='text-white bg-minsk-500 hover:bg-minsk-600 transition-all duration-300 ease-in-out hover:-translate-y-1 shadow-md hover:shadow-lg py-2 px-6 rounded-md'>
                Changer
            </button>
        </form>
        {% if form.errors %}
            <div class="form-errors">
                <ul>
                    {% for field in form %}
                        {% if field.errors %}
                            <li>{{ field.label }}: {{ field.errors }}</li>
                        {% endif %}
                    {% endfor %}
                    {% if form.non_field_errors %}
                        <li>{{ form.non_field_errors }}</li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}