{% extends 'accounts/admin/admin_base.html' %}
{% load static %}

{% block admin_title %}
Catégories
{% endblock %}

{% block admin_head %}

{% endblock %}


{% block admin_content %}
<section class="w-full max-w-screen overflow-x-hiddenflex-1 min-h-full
    bg-gradient-to-br from-white to-minsk-300">

    <!-- Container -->
    <div class="w-full max-w-[1280px] mx-auto px-3 py-10 md:py-20 font-poppins flex flex-col gap-5 relative">
    </div>


</section>
{% endblock %}



{% block admin_scripts %}

{% endblock %}